.wp-block-investis-blocks-section:after {
	display: block;
	content: "";
	clear: both;
}

.wp-block-investis-blocks-section {
	max-width: 1040px;
	background-size: cover;
	box-sizing: border-box;
	position: relative;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-investis-blocks-section .section-inner {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.wp-block-investis-blocks-section.gradient:before {
	background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 35%,rgba(0,0,0,0) 100%);
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.wp-block-investis-blocks-section.has-background-dim:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-color: #000;
	opacity: 0
}

.wp-block-investis-blocks-section.has-background-dim-10:before {
	opacity: .1;
}
.wp-block-investis-blocks-section.has-background-dim-20:before {
	opacity: .2;
}
.wp-block-investis-blocks-section.has-background-dim-30:before {
	opacity: .3;
}
.wp-block-investis-blocks-section.has-background-dim-40:before {
	opacity: .4;
}
.wp-block-investis-blocks-section.has-background-dim-50:before {
	opacity: .5;
}
.wp-block-investis-blocks-section.has-background-dim-60:before {
	opacity: .6;
}
.wp-block-investis-blocks-section.has-background-dim-70:before {
	opacity: .7;
}
.wp-block-investis-blocks-section.has-background-dim-80:before {
	opacity: .8;
}
.wp-block-investis-blocks-section.has-background-dim-90:before {
	opacity: .9;
}
.wp-block-investis-blocks-section.has-background-dim-100:before {
	opacity: 1;
}

@media only screen and (max-width: 1440px) {
  .wp-block-investis-blocks-section .section-inner {
      padding-left: 5%;
      padding-right: 5%;
  }
}
